body{
    background-color: rgb(219, 224, 58);
 }
.product-card{
 height: 400px;
 width: 300px;
 border: 1px solid beige;
 margin-top: 100px;
 margin-left: auto;
 margin-right: auto;
 border-radius: 10px;
 box-shadow: 0px 5px  20px 0px beige ;
 background-color:#09173E;
}
.product-image{
 height: 300px;
 display: block;
 margin: 10px auto;
}
.buy-btn{
 display: block;
 margin: 10px auto;
 font-size: 25px;
 padding: 5px 40px;
 border: 1px solid beige;
 border-radius: 15px;
 color: beige;
 background-color:#09173E;
 cursor: pointer;
 margin-top: 10px;
}
.btn-quantity{
    
    height: 35px;
    cursor: pointer;
 }
 .btn-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: beige;
    margin-top: 50px;
    font-size: 30px;
 }
